:root {
  --main-color: #6FA7E1;
	--secondary-color: #C4C4C4;
	--dark-text: #000;
	--light-text: #FFF;
  --accent: #ff0000;
  font-size: 16px;
}
body {
  margin: 0;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--dark-text);
  overflow-x: hidden;
  font-size: 1.125rem;
  word-break: break-word;
}
main {
	width: 80vw;
	margin: 5rem auto;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 4rem; /* 64px */
}
h2 {
  font-size: 3rem; /* 48px */
  text-transform: uppercase;
  text-align: center;
}
h3 {
  font-size: 1.5rem; /* 24px */
}
p {
  font-size: 1.125rem; /* 18px */
  line-height: 24px;
}
.btn {
  font-size: 1.125rem; /* 18px */
  color: var(--dark-text);
  border: 1px solid var(--dark-text);
  border-radius: 0;
  background: var(--light-text);
  padding: .5rem 1rem;
  display: inline-block;
  box-shadow: 7px 7px 0px 0px rgba(50, 50, 50, 0.75);
}
.btn:hover {
  box-shadow: 7px 7px 0px 0px rgba(50, 50, 50, 0.5);
}
.iconBtn {
  font-size: 1.125rem; /* 18px */
  color: var(--dark-text);
  border: 1px solid var(--dark-text);
  background: var(--light-text);
  padding: .5rem 1rem;
  display: inline-block;
  line-height: 1.5rem;
  margin-right: 10px;
  margin-bottom: 10px;
}
.iconBtn svg {
  margin-right: 5px;
  vertical-align: text-bottom;
  font-size: 1.2rem;
}
.iconBtn:hover {
  filter: invert(100%);
}
.background {
  position: relative;
}
.background::before {
  content: ''; 
  display: block; 
  position: absolute; 
  z-index: -20; 
  top: 0; 
  bottom: 0; 
  left: 50%; 
  margin-left: -50vw; 
  width: 100vw; 
  background: var(--main-color);
}

.accordion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.accordion .show {
  visibility: visible;
}
.tab button {
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}
.tab > div {
  visibility: hidden;
  padding: 2rem;
  border: 1px solid var(--dark-text);
}
.module {
  margin-bottom: 10rem;
}

/* Modules */
#intro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px;
}
#intro > div:first-child {
  width: max-content;
  height: max-content;
  position: relative;
}
#intro img {  
  width: 350px;
  height: 350px;
  object-fit: cover;
}
#intro > div:first-child::before { 
  content: '';
  /* border: 1px solid #ff0000; */
  position: absolute;
  top: 80%;
  left: -10%;
  z-index: -1;
  width: 50%;
  height: 50%;
  background: var(--main-color);;
}
#intro > div:first-child::after { 
  content: '';
  border: 1px solid var(--dark-text);
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: -1;
  width: 100%;
  height: 100%;
}


#serviceQuestion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 0 3rem 0;
}
#serviceQuestion > div:nth-child(2) {
  display: flex;
  justify-self: end;
  align-items: center;
}
#serviceQuestion svg {
  color: var(--light-text);
  font-size: 2rem;
  padding: 1rem;
  filter: drop-shadow( 3px 2px 0px rgba(0, 0, 0, .7));
}

#techStack > div {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
  grid-gap: 3rem;
  align-items: center;
}
.arrow {
  text-align: right;
}

#contacts > div > div {
  width: 330px;
  margin: 15px auto;
}
#contacts > div > div > * {
  display: inline-block;
  margin-right: 20px;
}

#footer {
  padding: 2.5rem 0;
  text-align: center;
}
#footer > * {
  display: inline-block;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  body {
    padding: 5% 5% 0 5%;
  }
  main {
    width: auto;
    margin: 0;
  }
  .module {
    margin-bottom: 5rem;
  }
  .accordion {
    grid-template-columns: repeat(1, 1fr);
  }
  
  #intro {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  #intro img {  
    width: 300px;
    height: 300px;
  }
  #intro > div:first-child::before { 
    left: -5%;
    width: 40%;
    height: 40%;
  }
  #serviceQuestion {
    grid-template-columns: repeat(1, 1fr);
  }
  #serviceQuestion > div:nth-child(2) {
    margin-top: 2rem;
  }
  #techStack > div {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px, 1fr));
  }
  .arrow {
    display: none;
  }
  #contacts > div > div {
    width: 300px;
  }
}